.labels {
    color: rgb(156, 156, 156);
    font-size: 15px;
}

.pro{
    margin: 10px;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.add-experience:hover {
    background: #0d6efd;
    color: #fff;
    cursor: pointer;
    border: solid 1px #0d6efd
}